$color-text: #FFFFFF;

* {
  margin: 0;
  padding: 0;
}

body {
  background-repeat:no-repeat;
  background-size:cover;
}

.text {
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    text-align: center;
    background-color: $color-text;
    width: 20%;
  }
}

  @media all and (min-width: 641px) {
    p {
      font-size: 40px;
    }
  }

