$color-text : #F93B5A;
$color-menu : #96172C;

nav {
  background-color: $color-menu;
  li {
    list-style-type: none;
  }
  a {
    display: block;
    padding: 2px;
    color: $color-text;
    font-size: 70%;
    text-decoration: none;
  }
  a:hover {
    background-color: darken($color-text, 50%);
  }
}

.hamburger {
  width: 10%;
}

.imgmenu {
  display: none;
}

@media all and (min-width: 641px) {
  nav {
    ul {
      display: flex;
      justify-content: space-around;
    }
    a {
      font-size: 150%;
      width: 150px;
      text-align: center;
    }
  }

  .hamburger {
    display: none;
  }
  .imgmenu {
    display: inline-block;
    padding: 5px;
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
  }
}